.booking, p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  background-color: #dfddc5;
}

.booking .details {
  width: 50%;
  height: 100%;
  padding: 100px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking .receipt {
  width: 50%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking .slide-items {
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  background: #F7F6E7;
  border: 15px solid #F7F6E7;
  border-radius: 30px;
}

.booking .slide-items .slide-wrap {
  display: none;
  height: 100%;
}

.booking .slide-items .slide-wrap > * {
  border-radius: 15px;
  padding: 10px;
  background: #F7F6E7;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.booking .slide-items .slide-wrap ul {
  height: 100%;
  display: -ms-grid;
  display: grid;
  padding: 5px;
}

.booking .slide-items .slide-wrap ul > * {
  text-align: center;
  list-style: inside;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking .slide-items .slide-wrap ul  {
  border-radius: 15px;
  padding: 7.5px;
  background: #bbd388e0;
  font-size: 25px;
}

.booking .slide-items .slide-wrap h1  {
  border-radius: 15px;
  padding: 7.5px;
  background: #bbd388e0;
}

.booking .slide-items .slide-wrap h3  {
  border-radius: 15px;
  padding: 7.5px;
  background: #F7F6E7;
  opacity: 90%;
}

.booking .slide-items .show {
  display: -ms-grid;
  display: grid;
}

.booking .uphol-items {
  height: 80vh;
}

.booking .time-frame {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.booking .list-cleaning {
  width: 100%;
  display: -ms-grid;
  display: grid;
  padding: 10px;
  background: #F7F6E7;
  border: 15px solid #F7F6E7;
  border-radius: 30px;
  height: 80vh;
}

.booking .list-cleaning > * {
  border-radius: 15px;
  padding: 10px;
  background: #bbd388e0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.booking .list-cleaning ul {
  height: 100%;
  display: none;
  padding: 5px;
}

.booking .list-cleaning ul > * {
  text-align: center;
  list-style: inside;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking .list-cleaning .show {
  display: -ms-grid;
  display: grid;
}

.mid, .book-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  background-color: #BBD388;
}

.mid button, .book-btn button {
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.466);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.466);
  color: black;
  padding: 10px 25px;
  background: #BBD388;
  border: 0px;
  outline: none;
  border-radius: 15px;
  padding: 20px 80px;
  font-size: 25px;
}

.book-btn {
  background: none;
}

.book-btn button {
  background: #bbd388e0;
  padding: 20px 80px;
  font-size: 25px;
}

/* PAYMENT DETAILS */
/* PAYMENT METHOD */
.payment {
  display: none;
  gap: 10px;
  background-color: #dfddc5;
}

.show-payment {
  display: -ms-grid;
  display: grid;
}

.payment-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 50px;
}

.payment-details {
  float: left;
  width: 50%;
  margin: auto;
  margin-top: 100px;
}

.payment-details h2 {
  
  color: black;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 8px;
  text-align: center;
  border: 15px solid #bbd388e0;
  border-radius: 30px;
}

.payment-details h3 {
  padding-bottom: 5px;
}

.input-acc {
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding: 15px 20px;
}

.input-acc-method {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

input {
  width: 100%;
}

.input-box {
  width: 100%;
  position: relative;
}

.input-box:last-child {
  margin-right: 0;
}

.input-box .name {
  padding: 14px 10px 14px 50px;
  width: 100%;
  background-color: #F7F6E7;
  border: 1px solid #0003;
  outline: none;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 3px;
  font-size: 20px;
}

.input-box .name:focus {
  -webkit-box-shadow: 0 0 2px 1px black;
  box-shadow: 0 0 2px 1px black;
  border: 1px solid black;
}

.input-box .icon {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 28px;
  left: 0px;
  bottom: 0px;
  color: #777d71;
}

.input-box label:first-of-type {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-right: none;
}

.input-box label:last-of-type {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.input-box-last {
  width: 100%;
  height: 75px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-box-last input {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 50px;
}

.input-box-last input::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.input-box-last input:-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.input-box-last input::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.input-box-last input::placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-box-last .icon {
  position: absolute;
  left: 10px;
}

.name:focus + .icon {
  background-color: #BBD388;
  color: #777d71;
  border-right: 1px solid #BBD388;
  border: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.payment-method {
  float: right;
  margin: auto;
  width: 50%;
  margin-top: 127px;
  text-align: center;
  font-size: 25px;
}

.payment-method h2 {
  color: black;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 8px;
  text-align: center;
  border: 15px solid #bbd388e0;
  border-radius: 30px;
  
}

.payment-method h3 {
  padding-bottom: 5px;
}

.payment-method .input-box label {
  width: 100%;
  padding: 15px;
  display: inline-block;
  text-align: center;
  border: 1px solid #F7F6E7;
}

.radio {
  display: none;
}

.radio:checked + label {
  background-color: #bbd388e0;
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

 /* Footer */
 .footer {
  background: #bbd388e0;
  height: 100%;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 20px;
  color: black;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 35px;
  font-weight: bold;
}

.inquire-btn {
  padding: 10px 50px;
  border-radius: 52px;
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inquire-btn:hover {
  background-color: #3e8e41;
}

.footer-container {
  display: flex;
  align-items: center;
  padding: 0 25px;
  padding-bottom: 10px;
}

.logo-group {
  width:50px;
}
.logo-group img{
  width: 100%;
}

.left{
  margin-right:auto;
}
.right{
  margin-left:auto;
}

.socials-footer-container {
  flex-direction: column;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.socials li {
  margin: 0 30px;
}

.socials a {
  color: black;
}

.socials a i {
  font-size: 50px;
  transition: color .8s;
  
}

.socials a:hover i {
  color: #777d77;
}

.footer-bottom {
  font-size: 25px;
}